#footer{
    margin-top:10vmax;
    padding: 4vmax;
    color:ivory;
    background-color: #121212;
    height: 20vmax;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    bottom:0;
}

a {
    text-decoration: none;
    color: ivory;
  }
  a:hover{
  color:  #F14A16;
  }
  
  li {
    list-style: none;
  }
.leftFooter{
    width: 40%;
   
}
h4{
    cursor:default;
    margin-bottom: 5px;
    color: #D77FA1;
}

.grid{
    padding: 18px;
    align-items: inherit;
    display: flex;
    justify-content: space-around;
}
.social-media{
    margin: 5px;
    font-size:2rem;
    
}

.input{
    background-color: ivory;
    width:18rem;
    height: 3.5rem;
    border-style: none;
}
.input label {
    font-size: 14px;
    
}
#button{
    background-color:hsl(14, 89%, 52%);
    color: ivory;
    margin-top:5px;
    border-radius: 0;
    font-size: 1.2rem;
    width: 8rem;

}
.footer-para{
    font-size: 1rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

@media (max-width:599px) {
    .grid{
        justify-content: flex-start;
    }
    
}
@media (max-width:599px) and (min-width:568px) {
    
    #footer{
        height: 79vmax;
    }
    
}
@media (max-width:597px ) and (min-width:566px) {
    #Footer{
      height: 80vmax;
        
    }
    
}

@media (max-width:850px ) and (min-width:770px) {
  .midTwoFooter{
      margin-left:3rem;
      
  }
  
 
}
@media (max-width:769px ) and (min-width:600px) {
    .midTwoFooter{
        margin-left:5rem;
        
    }
    #footer{
        height: 40vmax;
    }
   
}

@media (max-width:959px ) and (min-width:770px) {
    #footer{
        height: 37vmax;
    }
}

@media (max-width:640px ) and (min-width:600px) {
    #footer{
        height: 50vmax;
    }
}


@media (max-width:375px) {
    .grid{
        justify-content: flex-start;
    }
    #footer{
        height: 70vmax;
    }
    
}
@media (max-width:415px ) and (min-width:376px) {
    #footer{
        height: 62vmax;
    }
}
